<div
  class="px-6 flex flex-row justify-between items-center text-[#725C5C] bg-[#FDF1EB]"
>
  <div class="flex-col md:py-1">
    <p class="text-sm font-normal">
      Anais do Simpósio Latino Americano de Ciências de Alimentos
    </p>
    <p class="text-2xl font-normal">
      Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
    </p>
    <p class="text-sm font-normal">ISSN: 1234-5678</p>
  </div>
  <div class="flex">PT, BR</div>
  <div class="text-right flex flex-row">
    <div class="px-2">
      <p>Bem vindo!</p>
      <p>alguem12@galoascience.com</p>
    </div>
    <img src="../assets/login.png" class="max-w-full" alt="login" />
  </div>
</div>
